
@{
    ViewBag.Title = "PassViewBag";
}

<h2>PassViewBag</h2>

<ul>
    <li>@ViewBag.Nickname</li>
    <li>@(ViewBag.Height + 5)</li>
    <li>@(ViewBag.Weidth + 3)</li>
    <li>@ViewBag.Married</li>
</ul>
